---
layout: base.njk
templateEngineOverride: md, njk
---

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<script>
  if (window.netlifyIdentity) {
    const params = new URLSearchParams(window.location.hash.substring(1));

    if (params.has('invite_token')) {
      window.netlifyIdentity.acceptInvite(params.get('invite_token'))
        .then(() => window.location.replace('/admin/'));
    } else if (params.has('confirmation_token')) {
      window.netlifyIdentity.confirm(params.get('confirmation_token'))
        .then(() => window.location.replace('/admin/'));
    } else if (params.has('recovery_token')) {
      window.netlifyIdentity.recover(params.get('recovery_token'))
        .then(() => window.location.replace('/admin/'));
    } else {
      window.location.replace('/admin/');
    }

    window.netlifyIdentity.init();
  } else {
    window.location.replace('/admin/');
  }
</script>

<h1 style="text-align: center; margin-top: 20vh;">🚀 Procesando tu cuenta, por favor espera...</h1>
<p style="text-align: center;">Estamos configurando tu acceso, en unos segundos serás redirigido.</p>
